<?xml version="1.0" encoding="utf-8"?>
<!--
 * This pom comes with basic log4j2 configuration for mora-file-organizer-001 Project
 *
 * @Author: SLMORA
 * @DateTime: 05/17/2022 09:43 AM
 * <p>
 * Version      Date            Editor              Note
 * =====================================================================================================================
 * 1.0          05/17/2022       	SLMORA              Initial Code
 *
-->
<Configuration status="info">
    <Properties>
        <Property name="layout">%d [%t] %-5level %logger - %m%n</Property>
        <Property name="logdir">D:/SLMORAWorkSpace/IntelliJProjects/mora-file-organizer-001-20220517001/logs</Property>
    </Properties>

    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}" />
        </Console>
        <RollingFile name="LogToFile" fileName="${logdir}mora-file-organizer-info.log"
                     filePattern="${logdir}/$${date:yyy-MM-dd}/mora-file-organizer-001-info.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${layout}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="LogToFile" />
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="com.slmora" level="info" additivity="false" >
            <AppenderRef ref="LogToConsole" />
            <AppenderRef ref="LogToFile" />
            <AppenderRef ref="Async" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole" />
            <AppenderRef ref="LogToFile" />
        </Root>
    </Loggers>
</Configuration>